{% extends 'main/base.html' %}
{% block title %} All transactions {% endblock %}

{% block main %}
    <div class="row">

    </div>
    <div class="row">
    <a href="{% url 'transaction:create' %}">Add Transaction</a>
    </div>


{% if transaction_list %}
    <div class="row">
    <ul>
    {% for transaction in transaction_list %}
        <li><a href="{% url 'transaction:detail' transaction.id %}">{{ transaction }} </a>
            {% if user.id == transaction.account.user.id %}
        (<a href="{% url 'transaction:update' transaction.id %}">Update</a> |
          <a href="{% url 'transaction:delete' transaction.id %}">Delete</a>) <br/>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="row">
    <p>No transactions are available.</p>
    </div>

{% endif %}
{% endblock %}